<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
<script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/meting@2.0.1/dist/Meting.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/color-thief@2.2.5/js/color-thief.min.js"></script>
<span style="color:#111827;justify-content: flex-start;">
    <meting-js server="netease" type="playlist" id="{{.Get 0}}" autoplay="false" list-olded="false" listFolded="false"
        list-max-height="{{.Get 1}}">
    </meting-js>
</span>
<hr />