<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">-->
<!--<script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/meting@2.0.1/dist/Meting.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/color-thief@2.2.5/js/color-thief.min.js"></script>-->
<!--<span style="color:#111827;justify-content: flex-start;">-->
<!--    <meting-js server="netease" type="playlist" id="{{.Get 0}}" autoplay="false" list-olded="false" listFolded="false"-->
<!--        list-max-height="120">-->
<!--    </meting-js>-->
<!--</span>-->
<!--<hr />-->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
<!-- CDN 引入（推荐） -->
<link rel="stylesheet" href="https://api.hypcvgm.top/NeteaseMiniPlayer/netease-mini-player-v2.css">
<script src="https://api.hypcvgm.top/NeteaseMiniPlayer/netease-mini-player-v2.js"></script>
<script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/meting@2.0.1/dist/Meting.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/color-thief@2.2.5/js/color-thief.min.js"></script>
<span style="color:#111827;justify-content: flex-start;">
    <meting-js server="netease" type="playlist" id="{{.Get 0}}" autoplay="false" list-olded="false" listFolded="false"
               list-max-height="120">
    </meting-js>
</span>
<hr />
