

{{ $parent := .Page.RelPermalink }}
<section class="space-y-10 w-full">
    {{ $RelPermalink := .Get "link" }}
    {{ range ( where .Site.RegularPages "RelPermalink" $RelPermalink | first 1 ) }}
        {{ if not (eq .RelPermalink $parent) }}
            {{ partial "article-link/simple.html" . }}
        {{ end }}
    {{end}}
</section>

<!--本文阅读量-->
<!-- busuanzi -->
{{ if .Site.Params.busuanzi.enable -}}
<div  class="meta-item">&nbsp&nbsp
    <span id="busuanzi_container_page_pv">页面点击量: <span id="busuanzi_value_page_pv"></span> 次</span>
</div>
{{- end }}
