<!--下方播放器-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
<link href="./music.txt">
<script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
<div id="aplayera" style="opacity:0.8;color: var(--tw-prose-headings);"></div>
<script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
<script type="text/javascript">
    const ap = new APlayer({
        container: document.getElementById('aplayera'),
        fixed: false,
        lrcType: 3,
        listMaxHeight: 100,
        audio:             [
            {
                name: '正解(混声三部合唱)',
                artist: 'RADWIMPS',
                url: 'https://lc-gluttony.s3.amazonaws.com/dRYJBlSN7EF3/EN2sSlJjrTnrwt7422opBQzuYtwgKUxG/RADWIMPS%20-%20%E6%AD%A3%E8%A7%A3%20%28%E6%B7%B7%E5%A3%B0%E4%B8%89%E9%83%A8%E5%90%88%E5%94%B1%29.flac',
                cover: 'https://lc-gluttony.s3.amazonaws.com/dRYJBlSN7EF3/VoCPlwWAoRbycMbMpkk8rO3nFSY2RvVe/%E6%AD%A3%E8%A7%A3.jpg',
                lrc: 'https://lc-gluttony.s3.amazonaws.com/dRYJBlSN7EF3/81GxLoRdTXmyBp7NCYPQNAhh6LT22Fku/RADWIMPS%20-%20%E6%AD%A3%E8%A7%A3%20%28%E6%B7%B7%E5%A3%B0%E4%B8%89%E9%83%A8%E5%90%88%E5%94%B1%29.lrc'
            },
            {
                name: '蝶々結び',
                artist: 'Aimer',
                url: 'https://lc-gluttony.s3.amazonaws.com/dRYJBlSN7EF3/ofE4yX5UYy3zpMaNwt6nRnWQd0sIP4xi/Aimer%20-%20%E8%9D%B6%E3%80%85%E7%B5%90%E3%81%B3.flac',
                cover: 'https://lc-gluttony.s3.amazonaws.com/dRYJBlSN7EF3/OQaFrdqT2Yiuzcmtx2uIlsLG8GjD6ok3/%E8%9D%B6%E3%80%85%E7%B5%90%E3%81%B3.jpg',
                lrc: 'https://lc-gluttony.s3.amazonaws.com/dRYJBlSN7EF3/r1HTik6Im5Bzuvfo7JQiAMIEoBqs2m7I/Aimer%20%28%E3%82%A8%E3%83%A1%29%20-%20%E8%9D%B6%E3%80%85%E7%B5%90%E3%81%B3%20%28%E8%9D%B4%E8%9D%B6%E7%BB%93%29.lrc'
            },
            {
                name: "Automatic",
                artist: "宇多田ヒカル",
                url: "https://api.i-meto.com/meting/api?server=netease&type=url&id=667320&auth=78f1afe517d9bf418ea443d6777123cc47bfba42",
                cover: "https://api.i-meto.com/meting/api?server=netease&type=pic&id=18365142719545517&auth=51922ac42078bf85176cebb4a209a103c19ca491",
                lrc: "https://api.i-meto.com/meting/api?server=netease&type=lrc&id=667320&auth=76304ae0efbc1318467d0b0a59df50649b745751"
            },
            {
                name: "ルージュの伝言",
                artist: "松任谷由実",
                url: "https://api.i-meto.com/meting/api?server=netease&type=url&id=36089499&auth=b873aba4601c3e204e15f7b368821d427c38fdb3",
                cover: "https://api.i-meto.com/meting/api?server=netease&type=pic&id=109951168345171414&auth=afbaeeb14c6d9fa167abeb19ab5a583e032ac152",
                lrc: "https://api.i-meto.com/meting/api?server=netease&type=lrc&id=36089499&auth=2ee36c1004997a14211453b9291dd0bbc1820850"
            },
            {
                name: "真夜中の動物園",
                artist: "中島みゆき",
                url: "https://api.i-meto.com/meting/api?server=netease&type=url&id=623906&auth=94b55a9d410fdf9b55f70015ed5ab4c8c0a2a5b3",
                cover: "https://api.i-meto.com/meting/api?server=netease&type=pic&id=109951168471244891&auth=91d7980c9a09943bb13b05b78d241828622a8d4e",
                lrc: "https://api.i-meto.com/meting/api?server=netease&type=lrc&id=623906&auth=bbc24145277059623c403d800f32a75afb4146d0"
            },
            {
                name: "春灯",
                artist: "RADWIMPS",
                url: "https://api.i-meto.com/meting/api?server=netease&type=url&id=1824900296&auth=8f8e2f256933e38a5f2548e7da6cbcefef600ba3",
                cover: "https://api.i-meto.com/meting/api?server=netease&type=pic&id=109951165778868973&auth=5e6e2f112925c6f278e053c09a577dd2d849cfc7",
                lrc: "https://api.i-meto.com/meting/api?server=netease&type=lrc&id=1824900296&auth=beef63ce6d0a1813aa6eb68a60d904a5e0e47884"
            },
            {
                name: "いえない",
                artist: "RADWIMPS",
                url: "https://api.i-meto.com/meting/api?server=netease&type=url&id=28095552&auth=9a19091c59331ecd908dff572ad50196d48ecb1e",
                cover: "https://api.i-meto.com/meting/api?server=netease&type=pic&id=18622428441311564&auth=4d47b9ee35070769f2d174f3b93b180e7f6f470d",
                lrc: "https://api.i-meto.com/meting/api?server=netease&type=lrc&id=28095552&auth=0ebcc77ea1088e3df35be9cb8d03781f9ba30f91"
            }
        ]

    });
    ready();

    isRecover = false;
    function ready(){
        ap.on('canplay', function () {
            if(!isRecover){
                if(localStorage.getItem("musicIndex") != null){
                    musicIndex = localStorage.getItem("musicIndex");
                    musicTime = localStorage.getItem("musicTime");
                    if(ap.list.index != musicIndex){
                        ap.list.switch(musicIndex);
                    }else{
                        ap.seek(musicTime);
                        ap.play();
                        localStorage.clear();
                        ap.setAttribute(muted,'');
                        ap.setAttribute(playsinline,'');
                        isRecover = true;
                    }
                }else{
                    isRecover = true;
                }
            }
        });
    }

    window.onbeforeunload = function(event) {
        if(!ap.audio.paused){
            musicIndex = ap.list.index;
            musicTime = ap.audio.currentTime;
            localStorage.setItem("musicIndex",musicIndex);
            localStorage.setItem("musicTime",musicTime);
        }
    };



    var element = document.getElementsByClassName("aplayer-title")[0];
    $(element).wrap("<a href='{{i18n "pathAppendix"}}/radio/pick/'></a>");
</script>





<style type="text/css">
    .aplayer-title, .aplayer-list-light {
        color:#000000cc;
    }
    .aplayer-list{
        color:#717070bf;
    }
</style>


<!--<iframe id="frame" frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=450 src="https://music.163.com/outchain/player?type=1&id=150127127&auto=1&height=430"></iframe>-->
<!--<label id="list" for="musicLists" >选择歌单：</label>-->
<!--<select id="musicLists" name="fruits" onchange="changeList()" class="select">-->
<!--    <option value="35069014" selected>无法长大</option>-->
<!--    <option value="150127127">署街前少年</option>-->
<!--    <option value="6434">认了吧</option>-->
<!--</select>-->

<!--<script>-->
<!--    function changeList(){-->
<!--        var list = document.getElementById('musicLists');-->
<!--        var frame = document.getElementById('frame');-->
<!--        frame.src="https://music.163.com/outchain/player?type=2&id"+list.value+"&auto=1";-->
<!--    }-->
<!--</script>-->

<!--<style>-->
<!--    .select{-->
<!--        border-radius: 12px;-->
<!--        font-family: 华文中宋,serif;-->
<!--        font-style: italic;-->
<!--    }-->
<!--</style>-->
